*/* makes the entire page a border box*/ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* adds background color to the body */

body {
    background-color: #d9dcd6;
}

/* Styles background & font style & color in the header */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* lists Hori-seo-n in line */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the color of seo in horiseon */

.header h1 .seo {
    color: #d9dcd6;
}

/* divides and styles options list from header within header */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* Lines li's horizontally */

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Adds color to the header font list */

a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the size, margin and position of the main image */

.hero {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Font size for P attributes */

p {
    font-size: 16px;
}

/* Stlyes the size of 3 stacked div sections */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styles background color, text style and color is these sections */

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets height of images */

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Adds font size to padding to headers */

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* makes image appear on the left of box */

.float-left {
    float: left;
    margin-right: 25px;
}

/* makes image appear on the right of box */

.float-right {
    float: right;
    margin-left: 25px;
}

/* Controls the size, color, font stlye and floats the section to the right of page */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* adds a margin and color to text in the right section */

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* centres text and adds padding in the right section */

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles all 3 images in the right section */

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles font-style and footer size */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Font size within footer */

.footer h2 {
    font-size: 20px;
}
